body {
font-family: Arial;
font-size: 16px;
}

p.filler {
margin: auto;
min-height: 20px;
}

select {
width: 100%;
min-height: 20px;
border: 0px;
font-family: Arial;
font-size: 16px;
}

footer {
color: white;
background-color: firebrick;
font-family: Arial;
font-size: 16px;
}